<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng Đơn Hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <form id="editOrderForm" th:action="@{/addSale}" method="post" th:object="${sale}">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            Thời gian băt đầu
            <input th:field="*{startDate}" type="date" id="dateStart" name="dateStart" required>
        </div>
        <div class="mb-3">
            Thời gian kêt thúc
            <input th:field="*{endDate}" type="date" id="dateEnd" name="dateEnd" required >
        </div>
        <div class="mb-3">
            <label for="salePrice" class="form-label">Mức Giảm Giá</label>
            <input th:field="*{priceSale}" type="number" class="form-control" id="salePrice" name="salePrice" required>
        </div>
        <div class="mb-3">
            Chi tiết
            <input th:field="*{description}" type="text" id="description" name="description" required>
        </div>
        <button type="submit" class="btn btn-primary">Thêm mới</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
